body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }